app = "boom-ai"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8081"

[http_service]
  internal_port = 8081
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[http_service.checks]]
  interval = "10s"
  timeout = "2s"
  grace_period = "5s"
  method = "GET"
  path = "/health"
